VITE_APP_TITLE="Labda Analytics"
VITE_BACKEND_GRAPHQL_URL="graphql url here"
VITE_BACKEND_URL="rest url here"
VITE_APP_CLIENT_ID="client id here"
VITE_APP_CLIENT_SECRET="client secret here"
VITE_APP_OFFLINE_URL="client secret here"